{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="text-sm-center text-md-left my-4">
        <h3>Sign Up</h3>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-11 col-md-4 mx-auto">
                {{ form|crispy }}
                <button class="btn btn-secondary" type="'submit">Sign Up</button>
    </form>
    <div class="pt-3">
        <small class="text-muted">Already have an account?<a href="{% url 'login' %}" class="ml-2">Sign In</a>
        </small>
    </div>
</div>
</div>
</div>
{% endblock content %}